---js
const eleventyNavigation = {
key: "Archive",
order: 2
};
---

<!DOCTYPE html>
<html>
	<head>ß
		<link href="/css/blog.css" rel="stylesheet" />
		<link href="/css/reset.css" rel="stylesheet" />
	</head>

	<body>
		<div class="container">
			<div class="ascii"></div>
			<div class="nav">
				<ul>
					{% for tag in collections | getKeys | filterTagList |
					sortAlphabetically %} {% set tagUrl %}/tags/{{
						tag | slugify
					}}/{% endset %}
					<li>
						<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="posts">
				{% set postslist = collections.posts | head(-1 * 9999) %} {% for post in
				postslist | reverse %}
				<div class="blogpost">
					<div class="blogpost-inner">
						<div class="blogpost-front">
							<div class="blogname">
								<a href="{{ post.url }}" class="postlist-link">
									{{ post.data.title }}
								</a>
							</div>
							<div class="postlist-date">
								<time datetime="{{ post.date | htmlDateString }}">
									{{ post.date | readableDate("DDDD") }}
								</time>
							</div>
							<div class="blogtext">
								<p>{{ post.templateContent | excerpt1 }}</p>
							</div>
						</div>

						<div class="blogpost-back">
							<div class="backtext">
								<h2>
									{% if post.data.tags %} {% for tag in post.data.tags %}
									<a href="/tags/{{ tag | url }}">{{ tag }}</a
									>{% if not loop.last %} | {% endif %} {% endfor %} {% endif %}
								</h2>
								<h2>{{ post.templateContent | wordCount }} words</h2>
								<h2>{{ post.templateContent | readTime }} minute(s)</h2>
								<div class="read">
									<a href="{{ post.url }}" class="postlist-link"> read </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<img class="yana" src="/img/ayanscii22.png" alt="yaneth" />
	</body>
</html>
