<html>

<head>
	<link href="/css/guestbook.css" rel="stylesheet" />
    <link href="/css/reset.css" rel="stylesheet" />
</head>
<div class="main">
<div class="header">guestbook</div>
    <div id="c_widget"></div>
<script src="/scripts/guestbook-widget.js"></script>
</div>
</html>