---js
const eleventyNavigation = {
key: "Home",
order: 1
};

---

<!DOCTYPE html>
<html>
	<head>
		<link href="/css/index.css" rel="stylesheet" /> 
		<link href="/css/reset.css" rel="stylesheet" />
	</head>

	<body>
		<div class="container">
			<div class="main">
				<div class="blogname">
					{% set postslist = collections.posts | head(-1 * 1) %} {% set
					postslistCounter = postsCount %} {%- css %}.postlist { counter-reset:
					start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss
					%}
					<ul reversed class="latestlist">
						{%- for post in postslist | reverse %}
						<li class="latestlistitem">
							<div class="postlist-link">
								{% if post.data.title %}{{ post.data.title }}{% else %}{% endif
								%}
							</div>
						</li>
					</ul>
				</div>
				<div class="blogtext">
					<p>
						{{ post.templateContent | excerpt1 }}
					</p>
					want
					<a href="{{ post.url }}" class="postlist-link">
						<span class="moe">more</span> </a
					>? {%- endfor %}
				</div>
				<div class="other">
					<div class="dumbbox">
						<div class="latestblog">
							<ul class="latestlist">
								{% set postslist = collections.posts | head(-1 * 5) %} {% set
								postslistCounter = postsCount %} {# Get the five most recent
								posts (newest first) #} {% for post in postslist %}
								<li class="latestlistitem">
									<a href="{{ post.url }}">{{ post.data.title }}</a>
									<div class="preview">
										<p>
											{{ post.date | readableDate("LLLL yyyy") }}
											{% if post.data.tags %} | {% for tag in post.data.tags %}
											<a href="/tags/{{ tag | url }}">{{ tag }}</a
											>{% if not loop.last %} | {% endif %} {% endfor %} {%
											endif %}
										</p>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="warning"></div>
					</div>
				</div>
			</div>
			<div class="name">
				<div class="headertext">trademark.moe trademark.moe trademark.moe</div>
			</div>
			<div class="nav">
				<ul class="navlist">
					<li class="navitem">
						<a href="blog">journal</a>
					</li>
					<li class="navitem">
						<a href="friends">friends</a>
					</li>
					<li class="navitem">
						<a href="guestbook">guestbook</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
