---js
const eleventyNavigation = {
key: "Home",
order: 1
};

---
<!DOCTYPE html>
<html>

<head>
    <link href="/css/index.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="nav">
            
        </div>
        <div class="trademark">
            <div class="name">
                trademark.moe trademark.moe trademark.moe
            </div>
        </div>
        <div class="header"></div>
        <div class="footer"></div>
        <div class="blog"></div>
        <div class="about"></div>
        <div class="calendar"></div>
    </div>
</body>

</html>

</html>